<%- include('parts/header.ejs')%>
  <!-- Contact Start -->
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        
        <br>
        <br>
        <h1> About </h1>
        <br>
        <br>
        <br>
        <br>
        <p>
          Bienvenue, votre solution d'hébergement idéale pour les étudiants. Nous sommes une entreprise
          spécialisée dans l'hébergement pour les étudiants, fondée avec une vision simple : fournir un logement de
          qualité pour
          les étudiants, où ils peuvent se sentir en sécurité et confortables, tout en poursuivant leurs études.

          Nous comprenons que l'hébergement pour les étudiants est plus qu'un simple toit au-dessus de leur
          tête. C'est pourquoi nous avons créé une plateforme de réservation de logements pour étudiants,
          offrant des logements confortables, sûrs et abordables à chaque étudiant.
        </p>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <img class="w-100" src="img/maison.png" alt="Image" />
      </div>
    </div>
  </div>
  <%- include('parts/footer.ejs')%>